<a href="https://colab.research.google.com/github/Sagar8902/Git/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing pandas

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\abc\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\abc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\abc\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd
import numpy as np

### Series

In [ ]:
ticker = ["tata","tcs","infosys","techmahindra","l&t","jio"]

In [ ]:
ser = pd.Series(ticker,index=["ta","t","i","tm","l","j"])

In [ ]:
ser

ta            tata
t              tcs
i          infosys
tm    techmahindra
l              l&t
j              jio
dtype: object

In [ ]:
ticker

['tata', 'tcs', 'infosys', 'techmahindra', 'l&t', 'jio']

In [ ]:
ser

ta            tata
t              tcs
i          infosys
tm    techmahindra
l              l&t
j              jio
dtype: object

In [ ]:
ser["t"]

'tcs'

In [ ]:
ser["j"]

'jio'

In [ ]:
ser.index=[1,2,3,4,5,6]

In [ ]:
ser

1            tata
2             tcs
3         infosys
4    techmahindra
5             l&t
6             jio
dtype: object

In [ ]:
ser[5]

'l&t'

### Dataframe

In [ ]:
list = [["tcs",254,250,245,260,267],
       ["jio",65,68,54,72,65],
       ["relience",2145,2254,2024,2295,2285]]

In [ ]:
list #list type

[['tcs', 254, 250, 245, 260, 267],
 ['jio', 65, 68, 54, 72, 65],
 ['relience', 2145, 2254, 2024, 2295, 2285]]

In [ ]:
arr = np.array(list) #array
arr

array([['tcs', '254', '250', '245', '260', '267'],
       ['jio', '65', '68', '54', '72', '65'],
       ['relience', '2145', '2254', '2024', '2295', '2285']], dtype='<U11')

In [ ]:
list[1]

['jio', 65, 68, 54, 72, 65]

In [ ]:
list[1][3]

54

In [ ]:
arr[1]

array(['jio', '65', '68', '54', '72', '65'], dtype='<U11')

In [ ]:
arr[0]

array(['tcs', '254', '250', '245', '260', '267'], dtype='<U11')

In [ ]:
arr[1,2]

'68'

In [ ]:
df = pd.DataFrame(list)

In [ ]:
df

          0     1     2     3     4     5
0       tcs   254   250   245   260   267
1       jio    65    68    54    72    65
2  relience  2145  2254  2024  2295  2285

In [ ]:
df[0]

0         tcs
1         jio
2    relience
Name: 0, dtype: object

In [ ]:
df.loc[0]

0    tcs
1    254
2    250
3    245
4    260
5    267
Name: 0, dtype: object

In [ ]:
df.columns = ["Stocks","ltp","Open","Low","High","Close"]

In [ ]:
df

     Stocks   ltp  Open   Low  High  Close
0       tcs   254   250   245   260    267
1       jio    65    68    54    72     65
2  relience  2145  2254  2024  2295   2285

In [ ]:
df.index=["t","j","r"]

In [ ]:
df

     Stocks   ltp  Open   Low  High  Close
t       tcs   254   250   245   260    267
j       jio    65    68    54    72     65
r  relience  2145  2254  2024  2295   2285

In [ ]:
df["Stocks"]

t         tcs
j         jio
r    relience
Name: Stocks, dtype: object

In [ ]:
df.loc["t"]

Stocks    tcs
ltp       254
Open      250
Low       245
High      260
Close     267
Name: t, dtype: object

In [ ]:
df["High"]

t     260
j      72
r    2295
Name: High, dtype: int64

In [ ]:
df["High"].loc["r"]

2295

In [ ]:
df["Low"].loc["j"]

54

In [ ]:
df

     Stocks   ltp  Open   Low  High  Close
t       tcs   254   250   245   260    267
j       jio    65    68    54    72     65
r  relience  2145  2254  2024  2295   2285

In [ ]:
df.loc["j"]

Stocks    jio
ltp        65
Open       68
Low        54
High       72
Close      65
Name: j, dtype: object

In [ ]:
df.iloc[1]

Stocks    jio
ltp        65
Open       68
Low        54
High       72
Close      65
Name: j, dtype: object

In [ ]:
df["ltp"].iloc[-1]

2145

In [ ]:
df.iloc[-1]

Stocks    relience
ltp           2145
Open          2254
Low           2024
High          2295
Close         2285
Name: r, dtype: object

### Add new coloums

In [ ]:
# Add average coloum

df["Avearge"] = (df["Low"] + df["High"]) / 2

In [ ]:
df

     Stocks   ltp  Open   Low  High  Close  Avearge
t       tcs   254   250   245   260    267    252.5
j       jio    65    68    54    72     65     63.0
r  relience  2145  2254  2024  2295   2285   2159.5

In [ ]:
df["Range"] = (df["High"] - df["Low"])

In [ ]:
df

     Stocks   ltp  Open   Low  High  Close  Avearge  Range
t       tcs   254   250   245   260    267    252.5     15
j       jio    65    68    54    72     65     63.0     18
r  relience  2145  2254  2024  2295   2285   2159.5    271

### Token Example

In [ ]:
import requests

In [ ]:
url = "https://margincalculator.angelbroking.com/OpenAPI_File/files/OpenAPIScripMaster.json"

In [ ]:
res = requests.get(url)

In [ ]:
res

In [ ]:
token_data = res.json()

In [ ]:
token_1 = pd.DataFrame(token_data)

In [ ]:
token_1

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,14415,PAGEIND-BL,PAGEIND,,-1.000000,1,,NSE,5.000000
1,23121,1090NFL26-NB,1090NFL26,,-1.000000,1,,NSE,1.000000
2,23099,738KL44-SG,738KL44,,-1.000000,100,,NSE,1.000000
3,15082,RADIOCITY-P1,RADIOCITY,,-1.000000,1,,NSE,5.000000
4,13896,77HP36-SG,77HP36,,-1.000000,100,,NSE,1.000000
...,...,...,...,...,...,...,...,...,...
114000,2039134,GLENMARK24JUL900CE,GLENMARK,25JUL2024,90000.000000,725,OPTSTK,BFO,5.000000
114001,2039060,ADANIPORTS24JUL1180CE,ADANIPORTS,25JUL2024,118000.000000,400,OPTSTK,BFO,5.000000
114002,862638,IOC24MAY168PE,IOC,30MAY2024,16800.000000,4875,OPTSTK,BFO,5.000000
114003,1111058,BANKEX24JUL56400CE,BANKEX,29JUL2024,5640000.000000,15,OPTIDX,BFO,5.000000
114004,862487,M&MFIN24MAY295PE,M&MFIN,30MAY2024,29500.000000,2000,OPTSTK,BFO,5.000000

In [ ]:
token_1.to_csv("angel_token.csv")

In [ ]:
data = pd.read_csv("C:/Users/abc/angel_token.csv",low_memory=False)

In [ ]:
data

,Unnamed: 0,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,0,14415,PAGEIND-BL,PAGEIND,NaN,-1.0,1,NaN,NSE,5.0
1,1,23121,1090NFL26-NB,1090NFL26,NaN,-1.0,1,NaN,NSE,1.0
2,2,23099,738KL44-SG,738KL44,NaN,-1.0,100,NaN,NSE,1.0
3,3,15082,RADIOCITY-P1,RADIOCITY,NaN,-1.0,1,NaN,NSE,5.0
4,4,13896,77HP36-SG,77HP36,NaN,-1.0,100,NaN,NSE,1.0
...,...,...,...,...,...,...,...,...,...,...
114000,114000,2039134,GLENMARK24JUL900CE,GLENMARK,25JUL2024,90000.0,725,OPTSTK,BFO,5.0
114001,114001,2039060,ADANIPORTS24JUL1180CE,ADANIPORTS,25JUL2024,118000.0,400,OPTSTK,BFO,5.0
114002,114002,862638,IOC24MAY168PE,IOC,30MAY2024,16800.0,4875,OPTSTK,BFO,5.0
114003,114003,1111058,BANKEX24JUL56400CE,BANKEX,29JUL2024,5640000.0,15,OPTIDX,BFO,5.0
114004,114004,862487,M&MFIN24MAY295PE,M&MFIN,30MAY2024,29500.0,2000,OPTSTK,BFO,5.0

In [ ]:
data.drop(columns=['Unnamed: 0'],inplace =True)
data

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,14415,PAGEIND-BL,PAGEIND,NaN,-1.0,1,NaN,NSE,5.0
1,23121,1090NFL26-NB,1090NFL26,NaN,-1.0,1,NaN,NSE,1.0
2,23099,738KL44-SG,738KL44,NaN,-1.0,100,NaN,NSE,1.0
3,15082,RADIOCITY-P1,RADIOCITY,NaN,-1.0,1,NaN,NSE,5.0
4,13896,77HP36-SG,77HP36,NaN,-1.0,100,NaN,NSE,1.0
...,...,...,...,...,...,...,...,...,...
114000,2039134,GLENMARK24JUL900CE,GLENMARK,25JUL2024,90000.0,725,OPTSTK,BFO,5.0
114001,2039060,ADANIPORTS24JUL1180CE,ADANIPORTS,25JUL2024,118000.0,400,OPTSTK,BFO,5.0
114002,862638,IOC24MAY168PE,IOC,30MAY2024,16800.0,4875,OPTSTK,BFO,5.0
114003,1111058,BANKEX24JUL56400CE,BANKEX,29JUL2024,5640000.0,15,OPTIDX,BFO,5.0
114004,862487,M&MFIN24MAY295PE,M&MFIN,30MAY2024,29500.0,2000,OPTSTK,BFO,5.0

In [ ]:
data.columns

Index(['Unnamed: 0', 'token', 'symbol', 'name', 'expiry', 'strike', 'lotsize',
       'instrumenttype', 'exch_seg', 'tick_size'],
      dtype='object')

In [ ]:
data.head()

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,14415,PAGEIND-BL,PAGEIND,NaN,-1.0,1,NaN,NSE,5.0
1,23121,1090NFL26-NB,1090NFL26,NaN,-1.0,1,NaN,NSE,1.0
2,23099,738KL44-SG,738KL44,NaN,-1.0,100,NaN,NSE,1.0
3,15082,RADIOCITY-P1,RADIOCITY,NaN,-1.0,1,NaN,NSE,5.0
4,13896,77HP36-SG,77HP36,NaN,-1.0,100,NaN,NSE,1.0

In [ ]:
data.tail()

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
114000,2039134,GLENMARK24JUL900CE,GLENMARK,25JUL2024,90000.0,725,OPTSTK,BFO,5.0
114001,2039060,ADANIPORTS24JUL1180CE,ADANIPORTS,25JUL2024,118000.0,400,OPTSTK,BFO,5.0
114002,862638,IOC24MAY168PE,IOC,30MAY2024,16800.0,4875,OPTSTK,BFO,5.0
114003,1111058,BANKEX24JUL56400CE,BANKEX,29JUL2024,5640000.0,15,OPTIDX,BFO,5.0
114004,862487,M&MFIN24MAY295PE,M&MFIN,30MAY2024,29500.0,2000,OPTSTK,BFO,5.0

In [ ]:
data["exch_seg"]

0         NSE
1         NSE
2         NSE
3         NSE
4         NSE
         ...
114000    BFO
114001    BFO
114002    BFO
114003    BFO
114004    BFO
Name: exch_seg, Length: 114005, dtype: object

In [ ]:
option_token = data[data["instrumenttype"]=="OPTIDX"]

In [ ]:
option_token

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
20262,46756,MIDCPNIFTY17MAY2410250CE,MIDCPNIFTY,17MAY2024,1025000.0,75,OPTIDX,NFO,5.0
20263,56592,BANKNIFTY29MAY2445900CE,BANKNIFTY,29MAY2024,4590000.0,15,OPTIDX,NFO,5.0
20271,46694,MIDCPNIFTY24JUN2411025PE,MIDCPNIFTY,24JUN2024,1102500.0,75,OPTIDX,NFO,5.0
20272,65879,NIFTY26SEP2421000CE,NIFTY,26SEP2024,2100000.0,25,OPTIDX,NFO,5.0
20277,54700,MIDCPNIFTY03JUN2411025PE,MIDCPNIFTY,03JUN2024,1102500.0,75,OPTIDX,NFO,5.0
...,...,...,...,...,...,...,...,...,...
113949,886568,SENSEX28JUN76000CE,SENSEX,30JUN2028,7600000.0,10,OPTIDX,BFO,5.0
113950,1111991,SENSEX24JUL77000CE,SENSEX,26JUL2024,7700000.0,10,OPTIDX,BFO,5.0
113976,1111863,BANKEX2461453600CE,BANKEX,14JUN2024,5360000.0,15,OPTIDX,BFO,5.0
113992,1111615,SENSEX2460777400PE,SENSEX,07JUN2024,7740000.0,10,OPTIDX,BFO,5.0
114003,1111058,BANKEX24JUL56400CE,BANKEX,29JUL2024,5640000.0,15,OPTIDX,BFO,5.0